body
	h3
		margin-top: 4px
	.container
		margin-top: 100px
		.preview
			height: 500px
			width: 555px
			border: 1px gainsboro solid
			text-align: center
	.bootstrap-select
		margin-bottom: 10px
		.btn:focus
			outline: none !important
	button
		outline: none !important
		-moz-outline: none !important
	tfoot
		tr
			border-top: 3px solid green
	.text-group
		margin-bottom: 5px
	.text
		margin-bottom: 5px
	.input-group
		margin-bottom: 5px
	.align
		margin-bottom: 15px
	.models
		margin-bottom: 5px
	.size
		display: inline-block
		position: relative
		top: -7px
	.sign
		margin-bottom: 5px
	.new
		margin-bottom: 5px
	.aside
		max-height: 502px
		overflow: scroll
		overflow-x: hidden
		overflow-y: auto
	.models
		width: 100%
	.model
		width: 4% !important

